@import url(variables.css);

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body {
    background: var(--color-primary);
}

.container {
    display:grid ;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(9, 1fr);
    grid-gap: 8px;
    grid-template-areas: 
    "menu menu menu menu menu menu menu menu menu menu menu menu"     
    "notification notification notification notification sales sales sales sales sales sales balance balance"     
    "notification notification notification notification sales sales sales sales sales sales balance balance"     
    "week week week week sales sales sales sales sales sales balance balance"     
    "week week week week sales sales sales sales sales sales devs devs"     
    "week week week week sales sales sales sales sales sales devs devs"     
    "product product product product product timeline timeline timeline timeline timeline timeline timeline"     
    "product product product product product timeline timeline timeline timeline timeline timeline timeline"     
    "product product product product product timeline timeline timeline timeline timeline timeline timeline"

    ;
    width: 800px;
    height: 600px;
    margin: 15px auto;
    background: var(--color-secundary);
    border: 1px solid var(--color-primary);
    border-radius: 5px;
    box-shadow: var(--color-shadows);
}

.caja1-izq {
    display: flex;
    justify-content: center;
    align-items: center;
}
.caja1-izq a{
    text-decoration: none;
    flex-direction: row;
    color: black;
    margin: 5px;
    font-size: 15px;
}
.search {
    margin: 3px;
}

.caja1-der {
    display: flex;
    background: linear-gradient(to right, #2cd4e0, #1eff1e); 
    border: 1px solid #000; 
    align-items: center;
    width: 500px;
    height: 60px;
}
.caja1-der i {
    display: flex;
    justify-content: flex-start;
    width: 20px;
    height: 20px;
    margin: 8px;
}

.yo {
    display: flex;
    justify-content: flex-end;
}

.yo2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.caja1-der img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    justify-content: flex-start;
}


.item_1 {
    display: flex;
    background-color: rgb(255, 255, 255);
    grid-area: menu;
}

.item_2 {
    display: flex;
    background-color: #8ef7ff;
    grid-area: notification;
}

.item_3 {
    background-color: rgb(255, 255, 255);
    grid-area: sales;
}
.graf3 img {
    position: relative;
    display: flex;
    top: 200px;
    right: -32px;
    grid-area: 50%;
    height: 85%;
    width: 85%;
}
.item_4 {
    background-color: rgb(255, 255, 255);
    grid-area: week;
}
.texto4 {
    margin: 10px;
}
.precio4 {
    margin: 10px;
}
.img4 img {
    height: 100px;
    width: 250px;
    margin: 10px;
}

.item_5 {
    background-color: rgb(255, 255, 255);
    grid-area: balance;
}
.textoCaja1 {
    margin:10px ;
    font-size: 15px;
}
.caja1-precio {
    margin: 9px;
    font-size: 12px;
}
.caja2 {
    background-color: rgb(135, 255, 135);
}
.textocaja2 {
    margin: 10px;
    font-size: 12px;
}

.number {
    margin: 5px;
    font-size: 14px;
}
.textocaja3 {
    margin: 7px;
    font-size: 12px;
}
.precio3 {
    margin: 7px;
    font-size: 14px;
}
.item_6 {
    background-color: rgb(212, 255, 132);
    grid-area: devs;
}

.item_7 {
    background-color: rgb(255, 255, 255);
    grid-area: product;
}

.item_8 {
    background-color: rgb(255, 255, 255);
    grid-area: timeline;
}

.item_8 img {
    width: 100%;
    max-height: 100%;
}
@media (width > 600px){
    
}